
{% extends "main.html" %}
{% block body %}

    <br><br>
    <div class="container-fluid" align="middle" style="min-height:100%;">
      <h1>Contacts</h1>

    <p>If you wish to get in touch with us to discuss one or more variants found in our beacon please write and email to
      <a href="mailto:chiara.rasi@scilifelab.se">Chiara Rasi</a>.<br>We can't disclose sensitive information on the search engine,
      but we can put you in contact with the researcher/clinician who uploaded the case.</p>
    <div><br>
      <h3>Homepage at SciLifeLab:</h3>
      <p><a href="https://www.scilifelab.se/facilities/clinical-genomics-stockholm/">https://www.scilifelab.se/facilities/clinical-genomics-stockholm/</a></p>
    </div>
    <div>
    <h3>Visiting address:</h3>
    <address>
    Science for Life Laboratory <br>
    Gamma 4 <br>
    Tomtebodavägen 23A, Solna, Sweden. <br></address>
    </div>

{% endblock %}
